

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}
.card{
    background-color:white;
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.08);
}
.card-footer{
    background-color: white;
    padding: 20px;
}   

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    gap: 30px;
    border: solid 1px rgb(201, 201, 201);
    padding: 50px;
    border-radius: 1%;
    margin-bottom: 150px;
}

.ful-gallery{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 11;

}

.ful-gallery input{
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: transparent;
    border: none;
;
    background-color: white;
    cursor: pointer;
}
.ful-gallery img{
    width: 40%;
    max-width: 700px;

}

.container.px-4.px-lg-5{
    border: none;
}



@media (max-width:300px){
    .avisosCopy{
        font-size: 14px; 
    }
    .img_gall{
        width: 150px;
        height: 150px;
    }
    .lead{
        font-size: 18px;
    }

    .py-5.text-center.container-fluid{
        display: block;
        
    }
    .container{
        border: none;
        display: inline;
        
    }

}



@media (max-width:890px )and (max-height:1400px){

    .avisosCopy{
        font-size: 14px; 
    }
    .img_gall{
        width: 150px;
        height: 150px;
    }
    .lead{
        font-size: 18px;
    }

    .py-5.text-center.container-fluid{
        display: block;
        
    }
    .container{
        border: none;

        
    }
}