
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */



body {
    padding-top: 0rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    font-family: 'Montserrat', sans-serif;
  }

  .btn.btn-lg.btn-primary{
    transition: all 0.3s ease 0s;/*Esto va ...*/
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.7);
    background-color: rgb(195, 165, 126);
    border: none;
  }

  .btn.btn-lg.btn-primary:hover{
    border: none;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.8);
    transform: translateY(-7px);/*va con esto*/

  }
  h1{
    font-size: 40pt;
    font-weight: bolder;
  }
.btn.btn-secondary{
  border: none;
  background-color: rgb(195, 165, 126);
  transition: all 0.3s ease 0s;/*Esto va ...*/
  box-shadow:0px 8px 15px rgba(0, 0, 0, 0.7);
}
.btn.btn-secondary:hover{
  border: none;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.8);
  transform: translateY(-7px);/*va con esto*/
}
  .textCarousel{
    font-style: italic; 
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 25rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  

  }
  


  /* STYLE */
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }



/*   .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  } */
/* 
  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  
  } */


  /* style */

.nav-it{
  display: inline-block;
  background-color: white;
  color: black;
  padding: 10px 30px;
  font-size: 18;
  border-radius: 46px;
  text-decoration: none;

}
.navbar{
  background-color: white;
  display:flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 11;
  box-shadow:0px 8px 15px rgba(0, 0, 0, 0.7);
  font-size: 22px;
}
.nav-it:hover{
  background-color: antiquewhite;
  cursor: pointer;
  border-radius: 46px;
}

.home{
  padding: 10px 15px;
}
.navbar-toggler{
  background-color: white;
  border: none;
  display: none;
}

.nav-item:hover{
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 3px 3px;
}


.featurette-heading{
  font-size: 40px;
  font-weight: bold;
}

.lead{
  text-align: justify;
}


@media (max-width:890px )and (max-height:1400px){


  .nav-it{
    display: none;
  }
  .navbar-toggler{
    display: inline-block;
    padding: 3px 3px;
    margin-right: 8px;
    }
  .navbar-toggler:active{
    background-color:rgb(213, 213, 210);
    border: none;
    }
  .navbar-toggler:hover{
    background-color:rgb(213, 213, 210);
    border: none;
    }
    .textCarousel{
      font-style: italic;
      font-size: smaller; 
    }
    h1{
      font-size: 18px;
    }
    .carousel-item {
      height: 17rem;
    }

    .carousel-control-prev-icon{
        height: 19px;
    }
    .carousel-control-next-icon{
      height: 19px;
  }
  .btn.btn-lg.btn-primary{
    width: 80px;
    font-size:x-small;
  }
  .row.featurette img{
    width: 300px;
    height: 300px;
  }
  .featurette-heading {
    font-size: 40 !important;
    font-weight: bolder;
  
}

}

@media (max-width:300px){
  .row.featurette img{
    width: 200px;
    height: 200px;  
  }

}