
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,700;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
@font-face {
font-display: swap;
}
body {
    padding-top: 0rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden ;
  }

  .btn.btn-lg.btn-primary{
    transition: all 0.3s ease 0s;/*Esto va ...*/
    box-shadow:0px 8px 15px rgba(0, 0, 0, 0.7);
    background-color: #c3a57e;
    border: none;
  }

  .btn.btn-lg.btn-primary:hover{
    border: none;
    cursor: pointer;
    background-color:rgba(0, 0, 0, 0.8);
    transform: translateY(-7px);/*va con esto*/

  }
  h1{
    font-size: 40pt;
    font-weight: bolder;
  }
.btn.btn-secondary{
  border: none;
  background-color: rgb(195, 165, 126);
  transition: all 0.3s ease 0s;/*Esto va ...*/
  box-shadow:0px 8px 15px rgba(0, 0, 0, 0.7);
}
.btn.btn-secondary:hover{
  border: none;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.8);
  transform: translateY(-7px);/*va con esto*/
}
  .textCarousel{
    font-style: italic; 
  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 25rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;

  }
    rtl:begin:ignore
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
    
  }
  .marketing .col-lg-4 h2{
    margin-top: 25px;
  }
  hr.divider {
    height: 0.2rem;
    border: none;
    max-width: 4.25rem;
    margin: 1.5rem auto;
    background-color:rgb(195, 165, 126);
    opacity: 1;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 3rem 0; /* Space out the Bootstrap <hr> more */
  }
  

  
  #portafolio .page-section p{
    text-align: center;
    font-size: 20px;
    
  }


  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  

  }
  

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.container-fluid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20%;
  text-align: center;

}
.container-fluid img{
  justify-self: center;
}

  /* style y animacion*/

.nav-it{
  display: inline-block;
  background-color: white;
  color: #5a5a5a;
  padding: 10px 30px;
  font-size: 18;
  text-decoration: none;
  position: relative;

}
.nav-it:before {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: burlywood;
  transition: all .3s;
}
.nav-it:hover::before {
  width: 100%;
}

.opc::before {
  left: 50%;  
}
.opc:hover::before {
  left:0;
}


/*  */


.navbar{
  background-color: white;
  display:flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  z-index: 11;
/*   box-shadow:0px 8px 15px rgba(0, 0, 0, 0.7); */
  font-size: 22px;
}



.home{
  padding: 10px 15px;
}
.navbar-toggler{
  background-color: white;
  border: none;
  display: none;
}

.nav-item:hover{
  background-color: antiquewhite;
  border-radius: 10px;
  padding: 3px 3px;
}


.featurette-heading{
  font-size: 40px;
  font-weight: bold;
}

div.container-fluid{
  background-color: white;
}

@media (max-width:890px )and (max-height:1400px){
body{
  overflow-x: hidden;
}
  .nav-it{
    display: none;
  }
  .navbar-toggler{
    display: inline-block;
    padding: 3px 3px;
    margin-right: 8px;
    }
  .navbar-toggler:active{
    background-color:rgb(213, 213, 210);
    border: none;
    }
  .navbar-toggler:hover{
    background-color:rgb(213, 213, 210);
    border: none;
    }
    .textCarousel{
      font-style: italic;
      font-size: smaller; 
    }
    h1{
      font-size: 18px;
    }
    .carousel-item {
      height: 17rem;
    }

    .carousel-control-prev-icon{
        height: 19px;
    }
    .carousel-control-next-icon{
      height: 19px;
  }
  .btn.btn-lg.btn-primary{
    width: 80px;
    font-size:x-small;
  }

  #contacto ul{

    flex-direction: column;
  }
  #contacto ul li:hover{
    width: 30px;
    font-size: 15px;

  }
}

@media (max-width:300px){
  .row.featurette img{
    width: 200px;
    height: 200px;  
  }
  #contacto{
    flex-direction: column;
  
  }
  #contacto ul{
    flex-direction: column;
  }
  body{
    overflow-x:hidden 
  }
}



/* SOCIAL */
@import url('https://fons.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

  
#contacto{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;  


  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#contacto ul{
    position: relative;
    display: flex;
    gap: 25px;
  }
  #contacto ul li{
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
  }
  #contacto ul li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
  }
  #contacto  ul li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius:  0.5rem;;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
  }

  #contacto ul li:hover::before{
    opacity: 1;
  }
  #contacto ul li::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
    filter: blur(15px);
  }
  #contacto  ul li:hover::after{
    opacity: 0.5;
  }
  #contacto  ul li i{
    color: #777;
    font-size:  1.75em !important;
    transition: 0.5s;
    transition-delay: 0.25s;
  }
  #contacto ul li:hover i{
    transform: scale(0);
    font-size: 1.75em;
    transition-delay: 0.25s;
  }
  #contacto ul li a{
    position: absolute;
    text-decoration: none;
  }
  #contacto ul li .titulo{
    color: #fff;
    font-size: 1.1em !important;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
  }
  #contacto ul li:hover .titulo{
    transform: scale(1);
    transition-delay: 0.25s;
  }

  .avisosCopy{
    text-align: center;
  }
  .py-5 {
    padding-top: 7rem!important;
    padding-bottom: 7rem!important;

}

.imgFoot{
  display: flex;
  justify-content: center;
}
